{
   "server": {
    "ip": "localhost",
    "port": 80,
    "secureport": "",
    "privkey": "",
    "fullchain": ""
  },
  "log": {
	  "couchwatch": {
		  "level": 7,
		  "file": "/tmp/couchwatch.log"
	  },
	  "twitters": {
		  "level": 7,
		  "file": "/tmp/twitters.log"
	  },
	  "server": {
		  "level": 7,
		  "file": "/tmp/wenotes-server.log"
	  }
  }
}
